*{
box-sizing: border-box;
margin: 0;
padding: 0;
}
html,body, #root, .project-wrapper main aside{
  height: 100%;
}

h1,h2,h3,h4,h5,h6,p{
  margin: 0;
}

.project-wrapper{
  display: grid;
  grid-template-columns: 20% 80%;
  height: 100%;
  position: relative;
}

.aside{
  background:#007bff;
  color:#fff;
  width: 100%;
}

.aside-content{
  position: sticky;
    top: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.aside-content button{
  width: 90%;
  background-color: #fff;
  color: #007bff;
  border: 1px solid #fff;
  padding: 15px;
  border-radius: 6px;
  cursor: pointer;
  transition: all .2s ease-out;
}



.aside-content button:hover{
  background-color: #007bff;
  color:#fff; 
}

.aside-content nav{
  margin-top: 80px;
  width: 100%;
}

.aside-content nav li{
  width:100%;
  background-color: #f7f8fa;
  list-style: none;
border:1px solid #007bff;
}

.aside-content nav li a{
display: block;
text-decoration: none;
padding: 20px 10px;
color:  #007bff;
}

.todo-item{
  min-height: 200px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
 
}

.main{
  background-color: #f7f8fa;
  color:#000;
  text-align: center;
  padding: 20px; 
  width: 100%;
}
.main-wrapper{
  grid-gap: 10px;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-auto-flow: dense;
}

.card{
  color: #364a6c;
  background-color:#fff;
  border-radius: 8px;
  padding: 30px 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-self: baseline;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
} 

.todo-bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.pop-up{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.4);
  display: flex;
  justify-content: center;
  align-items: center;
}
.pop-up form{
  display: flex;
  flex-direction: column;
width: 100%;
}

.pop-up form input[type='text'],
.pop-up form textarea,
.pop-up form button{
  width: 100%;
}

.pop-up form input[type='text']{
  height: 10px;
}

.checkbox-wrapper{
  display: flex;
}

.overlay .card {
  width: 500px;
}



.overlay .card-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.complete-btn{
  color: #fff;
  padding: 7px 12px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.complete{
  background-color: green;
}

.not-complete{
  background-color: red;
}
.btn-wrapper {
  display: flex;
  align-items: center;
}
.btn-wrapper button{
  display: inline-block;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  margin: 0 5px;
}
.import-active svg{
  fill: red;
  stroke:red;
}

.close-btn{
  cursor: pointer;
}


.overlay textarea,
.overlay input,
.overlay button {
    padding: 20px 10px;
    border-radius: 6px;
    border: 1px solid gray;
    font-size: 20px;
}

.overlay textarea {
  resize: none;
}
.overlay label{
  font-weight: 600;
  margin-bottom: 5px;
}

.overlay textarea,
.overlay input{
  margin-bottom: 20px;
}

.overlay button{
  cursor: pointer;
}


@media only screen and (max-width: 1380px){
  .main-wrapper {
    grid-template-columns: 1fr 1fr 1fr;

}
}

@media only screen and (max-width: 1024px) and (min-width:768px){
  .project-wrapper {
    grid-template-columns: 15% 85%;
}
}




@media only screen and (max-width: 767px){
  .main-wrapper {
    grid-template-columns: 1fr 1fr;
}
}